[submodule "src/plugins/logs"]
	path = src/plugins/logs
	url = https://github.com/LotharieSlayer/logs
[submodule "src/plugins/subgiving"]
	path = src/plugins/subgiving
	url = https://github.com/LotharieSlayer/subgiving
[submodule "src/plugins/warn"]
	path = src/plugins/warn
	url = https://github.com/LotharieSlayer/warn
[submodule "src/plugins/report"]
	path = src/plugins/report
	url = https://github.com/LotharieSlayer/report
[submodule "src/plugins/support"]
	path = src/plugins/support
	url = https://github.com/LotharieSlayer/support
